public/input1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cust_tree">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="cust">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="cid" type="xs:string" />
              <xs:element minOccurs="0" name="firstname" type="xs:string" />
              <xs:element minOccurs="0" name="lastname" type="xs:string" />
              <xs:element minOccurs="0" name="birthday" type="xs:string" />
              <xs:element minOccurs="0" name="status" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>